.container{
    height: 5vh;
    width: 100vw;
    align-items: center;
    padding-inline: 20vw;
    justify-content: space-between;
    display: flex;
    background-color: burlywood;
}

.Link{
    color: black;
    font-weight: 700;
    text-decoration: none;
}